[data-bs-theme='light'] .btn-dark {
    background-color: #000;
    color: #fff;
}

[data-bs-theme='dark'] .btn-dark {
    background-color: #fff;
    color: #000;
}

[data-bs-theme='light'] .nav-link {
    color: #000;
}

[data-bs-theme='dark'] .nav-link {
    color: #fff;
}

[data-toast] {
    z-index: 2000;
}

.table {
    table-layout: auto;
    width: 100%;
}

.table th {
    white-space: nowrap;
}

.table img {
    max-width: 200px;
}

[data-animate] {
    opacity: 0;
    transform: translateY(6px);
    animation: fadeIn 0.25s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#elements .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#elements .list-group-item > span {
    flex: 0 0 0;
}

#elements .list-group-item > div {
    flex: 1 1 0;
    margin-left: 2rem;
}

.drag-handle {
    font-size: 2rem;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.custom-id-preview-wrap {
    height: 36px;
}

.custom-id-description {
    max-width: 480px;
    margin: 0 auto 2rem;
    text-align: center;
}

.setting-image {
    max-width: 500px;
}

.conflict-field img {
    max-width: 400px;
}

.inventory-conflict-image {
    max-width: 300px;
}
